:root {
  --primary-brand-color: #4d5ae5;
  --pressed-state-color: #404bbf;
  --main-header-color: #2e2f42;
  --main-text-color: #434455;
  --alternative-white-color: #f4f4fd;
  --accent-white-color: #e7e9fc;
  --white-color: #ffffff;
  --icons-static-state: #8e8f99;
  --icons-pressed-green: #31d0aa;
  --modal-background: #fcfcfc;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--main-text-color);
  background-color: var(--white-color);
}
.link {
  text-decoration: none;
}
.list {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

.container {
  width: 100%;
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/*-----------HEADER--------------*/
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  align-items: center;
}

.header-address {
  font-style: normal;
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand-color);
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-right: 76px;
}

.header-menu {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header-menu-item {
}

.header-menu-link {
  display: block;
  padding: 24px 0;
}

.header-logo-span {
  color: var(--main-header-color);
}

.header-menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-header-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: var(--pressed-state-color);
}

.header-address-link:hover,
.header-address-link:focus {
  color: var(--pressed-state-color);
}

.current {
  position: relative;
  color: var(--pressed-state-color);
}

.current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--pressed-state-color);
  border-radius: 2px;
  bottom: -1px;
  left: 0px;
}

/*------------WELCOME SECTION--------------*/
.welcome {
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/welcome_background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
}

.welcome-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white-color);
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.welcome-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-color);
  background-color: var(--primary-brand-color);
  cursor: pointer;
  display: block;
  border-radius: 4px;
  border: none;
  padding: 16px 32px;
  margin: 0 auto;
  min-width: 169px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.welcome-btn:hover,
.welcome-btn:focus {
  background-color: var(--pressed-state-color);
}

/*----------------BENEFITS--------------*/
.benefits {
  padding: 120px 0;
}
.benefits-list {
  display: flex;
  gap: 24px;
}

.benefits-list-item {
  width: calc((100% - 72px) / 4);
}

.benefits-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-header-color);
  margin-bottom: 8px;
}

.benefits-list-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  max-width: 264;
}

.benefits-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--alternative-white-color);
  border-radius: 4px;
  margin-bottom: 8px;
  width: 264px;
  height: 112px;
}

/*----------ABOUT US------------*/
.aboutus {
  padding-bottom: 120px;
}
.aboutus-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-header-color);
  margin-bottom: 72px;
}

.aboutus-list {
  display: flex;
  gap: 24px;
}

.aboutus-list-item {
  width: calc((100% - 48px) / 3);
}

/*------------OUR TEAM------------------*/
.team {
  padding: 120px 0;
  background-color: var(--alternative-white-color);
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-list-item {
  background-color: var(--white-color);
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-header-color);
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-list-item-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-header-color);
  text-align: center;
  margin-bottom: 8px;
}

.team-list-item-text {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  text-align: center;
}

.team-social-list {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
}

.team-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--primary-brand-color);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-icon {
  fill: var(--alternative-white-color);
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--pressed-state-color);
}

.team-social-item {
  width: 40px;
  height: 40px;
}

.team-member {
  padding: 32px 0;
}

/*--------------------CUSTOMERS-----------------*/

.customers {
  padding: 120px 0;
}

.customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-header-color);
  margin-bottom: 72px;
}

.customers-list {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
}

.customers-list-item {
  width: calc((100% - 120px) / 6);
  height: 88px;
}

.customers-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--icons-static-state);
  border: 1px solid var(--icons-static-state);
  border-radius: 4px;
  height: 100%;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list-link:hover,
.customers-list-link:focus {
  color: var(--pressed-state-color);
  border-color: var(--pressed-state-color);
}

.customer-icon {
  fill: currentColor;
}

/*-------------------FOOTER----------------*/
.page-footer {
  padding: 100px 0;
  background-color: var(--main-header-color);
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--alternative-white-color);
  max-width: 264px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand-color);
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo-span {
  color: var(--alternative-white-color);
}

.footer-subtitle {
  color: var(--white-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 16px;
  letter-spacing: 0.02em;
}

.footer-social-list {
  display: flex;
  gap: 16px;
}

.footer-social-item {
  width: 40px;
  height: 40px;
}
.footer-social-link {
  display: flex;
  width: 100%;
  height: 100%;

  background-color: var(--primary-brand-color);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  align-items: center;
  justify-content: center;
}

.footer-icon {
  fill: var(--alternative-white-color);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--icons-pressed-green);
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-logo-container {
  margin-right: 120px;
}

.footer-submit {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 24px;
  margin: 0 0 0 auto;
}

.footer-submit-label {
}

.footer-submit-button:hover,
.footer-submit-button:focus {
  background-color: var(--pressed-state-color);
}

.footer-submit-input {
  width: 264px;
  height: 40px;
  color: var(--white-color);
  background-color: transparent;
  border: 1px solid var(--white-color);
  border-radius: 4px;
  padding-left: 24px;
}

.footer-submit-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--white-color);
}

.footer-submit-button {
  width: 160px;
  height: 40px;
  background-color: var(--primary-brand-color);
  color: var(--white-color);
  border: none;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transform: translateY(20px);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.footer-submit-icon {
  fill: var(--white-color);
}

.footer-input-container {
  display: flex;
  flex-direction: column;
}
/*----------PORTFOLIO FILTER--------------*/
.portfolio-projects {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-filter-list {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
  margin-bottom: 72px;
}

.filter-list-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--primary-brand-color);
  background-color: var(--alternative-white-color);
  border: 1px solid var(--accent-white-color);
  cursor: pointer;
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid #e7e9fc;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-list-btn:hover,
.filter-list-btn:focus {
  color: var(--white-color);
  background-color: var(--pressed-state-color);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*------------PORTFOLIO PROJECTS---------------*/
.project-image-container {
  position: relative;
  overflow: hidden;
}

.projects-links {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-cover-block {
}

.projects-links:hover .project-cover-text,
.projects-links:focus .project-cover-text {
  transform: translateY(0);
}

.project-cover-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--alternative-white-color);
  position: absolute;
  background-color: var(--primary-brand-color);
  top: 0;
  left: 0;
  padding: 40px 32px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-projects-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  justify-content: center;
}

.projects-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  color: var(--main-header-color);
}

.projects-list-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.projects-list-item {
}

.project-item-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.projects-links:hover,
.projects-links:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

/*----------------BACKDROP------------*/
.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleY(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 408px;
  min-height: 584px;
  background-color: var(--modal-background);
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 72px 24px 24px 24px;
}

.modal-subtitle {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  color: var(--main-header-color);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaleY(0);
}

.modal-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  fill: var(--main-header-color);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--accent-white-color);
  position: absolute;
  right: 24px;
  top: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  border: none;
  background-color: var(--pressed-state-color);
  fill: var(--white-color);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.modal-form {
}
.modal-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.21;
  letter-spacing: 0.04em;
  color: var(--icons-static-state);
  margin-bottom: 4px;
}
.input-modal-container {
  position: relative;
  margin-bottom: 8px;
}
.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
}

.modal-input:hover,
.modal-input:focus {
  border-color: var(--primary-brand-color);
}

.modal-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--main-header-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover + .modal-input-icon,
.modal-input:focus + .modal-input-icon {
  fill: var(--primary-brand-color);
}

.textarea-modal-container {
}

.modal-textarea {
  width: 100%;
  height: 120px;
  outline: none;
  padding-left: 16px;
  padding-top: 8px;
  resize: none;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:hover,
.modal-textarea:focus {
  border-color: var(--primary-brand-color);
}

.modal-textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.input-modal-container {
}
.input-check {
}

.modal-check-text span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;
  fill: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.input-check:checked + .modal-check-text span {
  background-color: var(--pressed-state-color);
  fill: var(--alternative-white-color);
  border: none;
}

.input-check:focus + .modal-check-text span,
.input-check:hover + .modal-check-text span {
  border-color: var(--pressed-state-color);
}

.modal-check-text {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--icons-static-state);
  display: flex;
  align-items: center;
}

.modal-check-text a {
  text-decoration: underline;
  color: var(--primary-brand-color);
}

.modal-btn-submit {
  background-color: var(--primary-brand-color);
  border: none;
  width: 169px;
  height: 56px;
  border-radius: 4px;
  color: var(--white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin-top: 24px;
  transform: translateX(50%);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-submit:hover,
.modal-btn-submit:focus {
  background-color: var(--pressed-state-color);
}
